<h1 class="title">Nonogramm</h1>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="center">
        <button (click)="openModal()" *ngIf="!currentUser" class="button">Spielen als Benutzer</button>
        <button *ngIf="!currentUser" [routerLink]="['/game']" class="button">Spielen als Gast</button>
        <button *ngIf="currentUser" [routerLink]="['/game']" class="button">Spielen</button>
        <button [routerLink]="['/highscore']" class="button">Highscore</button>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <img alt="Nonogramm" src="assets/images/nonogramm.png">
    </div>
  </div>
</div>
