/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, #645E9D, #98D0C8);
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}
